<div class="container">
  <div class="search card-container">
    <h4 style="color: #888888">FIND PARKING EASILY</h4>
    <hr>
    <div class="row">
      <div class="col-md-4">   <input type="text"  class="form-control in" placeholder="Where do you want to park" required autofocus></div>
      <div class="col-md-4">   <input type="text"  class="form-control in" placeholder="From" required autofocus onfocus="(this.type='date')"></div>
      <div class="col-md-4">   <input type="text"  class="form-control in" placeholder="Uniti" required autofocus  onfocus="(this.type='date')"></div>
    </div>
    <br>
    <button class="center-block "> Search</button>
  </div>
</div>

